@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700;800&display=swap');

body{
    font-family: 'Spartan', sans-serif;
}

nav{
    background-color: #2c2c2c;
    color: aliceblue;
}

.container-fluid{
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.white{
    background-color: #fcfcfc;
}

.red{
    background-color: #ff5f5f;
}

.background-blue{
    background-color: #f0f6f7;
}