{% extends "layout.html" %}

{% block title %}
Hardware: CPU
{% endblock %}

{% block main %}

<div class="container-fluid mainBack">
    <div class="container-fluid topicHeader">
        <div class="container-fluid d-flex justify-content-center pt-5 pb-2">
            <h1>The CPU</h1>
        </div>
        <div class="container-fluid d-flex justify-content-center pt-2 pb-5">
            <h4>It's the smartest part of the computer!</h4>
        </div>
    </div>
    <div class="container-fluid d-flex justify-content-center pt-5 mt-5 pb-5">
        <p>The <strong>CPU</strong> is the smartest part of our devices. It does all the calculations!</p>
    </div>

    <div class="container-fluid d-flex justify-content-center pt-2 pb-5">
        <div class="card p-5 shadow-lg">
            <div class="container-fluid d-flex justify-content-center">
                <h5>The <strong>CPU</strong> allows you to run programs on your computer. It basically does all the 'thinking'.</h5>
            </div>
        </div>
    </div>

    <div class="container-fluid d-flex justify-content-center pt-2 mt-5 pb-5">
        <p>The <strong>CPU</strong> (physically) fits onto the motherboard. This allows it to communicate with other parts of the computer!</p>
    </div>
    
    <div class="container-fluid d-flex justify-content-center pt-2 mt-3 pb-5">
        <p>While the <strong>CPU</strong> is one of the most important parts, it can't do anything on its own! It <strong>needs</strong> the other parts</p>
    </div>

    <div class="container-fluid d-flex justify-content-center mt-4 pb-5">
        <a href="#"><button class="btn-lg shadow btn-primary">Go to quiz!</button></a>
    </div>

{% endblock %}