{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
{% endblock %}

{% block main %}
<div class="container-fluid mainBack">

    <div class="container-fluid topicHeader">
        <div class="container-fluid d-flex justify-content-center pt-5 pb-2">
            <h1>Welcome Back!</h1>
        </div>
        <div class="container-fluid d-flex justify-content-center pt-2 pb-5">
            <h4>Let's keep learning.</h4>
        </div>
    </div>
    <div class="container-fluid d-flex pt-5 mt-2 pb-5">
        <h3 class="pl-5 ml-4"><strong>Sections</strong></h3>
    </div>
    <div class="container-fluid d-flex pt-2 pb-5">
        <div class="accordion ml-5 pl-4 mr-5" id="accordionExample">
            <div class="card shadow-lg">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Hardware
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    {% for i in range(hardwareTopicsList|length) %}
                        <div class="card shadow-lg p-4 m-5">
                            <a href={{ hardwareLinks[i] }}>
                                <button class="btn btn-link" type="button">
                                    {{ hardwareTopicsList[i] }}
                                </button>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card shadow-lg">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Software
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
    
        </div>
    </div>

</div>
{% endblock %}