<!DOCTYPE html>
<html>
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

        <title>LearnPC: {% block title %}{% endblock %}</title>

        <meta name="description" content="This is a website built to educate kids on PCs!">

        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    </head>

    <body>
    <!-- Nav -->

        <main>
            {% block main %}{% endblock %}
        </main>

    </body>





</html>